.menu_wrapper {
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 25px;
  z-index: 1010;
  cursor: pointer;
}

.hamburger_menu .bar {
  width: 100%;
  height: 4px;
  background-color: white;
  transition: 0.3s ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s;
}
.overlay.open {
  visibility: visible;
  opacity: 1;
}

.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #333;
  transition: transform 0.5s ease-in-out;
  z-index: 1000;
}

.menu.open {
  transform: translateX(-100%);
}

.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  text-align: center;
}

.menu li {
  padding: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.3s;
}

.menu a:hover {
  color: #ff6600;
}

.hamburger_menu.open .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
  visibility: hidden;
}

.hamburger_menu.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger_menu.open .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
  visibility: hidden;
}

.close_icon {
  display: block;
  transition: transform 0.3s ease;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1011;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 4px;
  width: 36px;
  height: 36px;
}

.close_icon:hover {
  background: rgba(83, 74, 183, 0.5);
}

.menu_opciones {
  padding-top: 80px;
  align-items: center;
}

@media (min-width: 769px) {
  .menu_wrapper {
    visibility: hidden;
  }
}

@media (max-width: 769px) {
  .cabecera_contenedor {
    width: 100%;
    height: 300px;
  }

  .cabecera {
    font-size: clamp(
      40px,
      calc(40px + (80 * ((100vw - 320px) / (720 - 320)))),
      120px
    );
  }

  .cabecera2 {
    font-size: clamp(
      16px,
      calc(16px + (14 * ((100vw - 320px) / (720 - 320)))),
      30px
    );
    position: relative;
    top: -100px;
  }

  nav {
    display: none;
  }

  .menu_wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -90px;
  }
}
