.menu_social {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.socialmedia {
  width: 50%;
}

@media (min-width: 320px) and (max-width: 768px) {
  .socialmedia {
    width: 40%;
  }

  .menu_social {
    margin-bottom: 50px;
  }
}
